/* General Demo Style */

html { height: 100%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


body {
   font-family: 'FaktSoftPro Blond', sans-serif;
    background: #ffffff;
    font-weight: 300;
    font-size: 15px;
    color: #1b1b1b;
    overflow: scroll;
    overflow-x: hidden;
}

h1 {
  font-family: 'FaktSoftPro-SemiBold', serif;
  font-size: 4.9em;
  line-height: 1.3em;
  color: #3C4858;
  margin: 20px auto;
  text-align: center;
}

header h2 {
  text-align: center;
}

h2 {
    font-family: 'FaktSoftPro Blond', sans-serif;
    font-size: 24px;
    color: #3C4858;
    line-height: 1.5em;
}

h3 {
   font-family: 'FaktSoftPro Blond', serif;
    font-size: 24px;
    color: #006CFF;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px 40px;
    text-decoration: none;
}

h4 {
  font-family: 'FaktSoftPro Blond', sans-serif;
  color: #888888;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 60px;
}

h5 {
  color: #FFFFFF;
  font-family: 'FaktSoftPro Blond', sans-serif;
  font-size: 22px;
}

h4.project-header {
  font-size: 24px;
  text-transform: uppercase;
  color: #006CFF;
  padding: 50px 0px 20px 0px;
}

p:first-of-type {
  padding-top: 40px;
}

h3.pagetitle {
  font-size: 32px;
  margin-top: 110px;
  margin-bottom: 0px;
  font-family: 'FaktSoftPro Blond', serif;
  text-transform: none;
  color: #006CFF;
  padding: 10px 0px;
}

p {
  font-family: 'FaktSoftPro Blond', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 1.6em;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0px 120px;
}

h3 a, img {
  text-decoration: none;
}

/*circles */

.circle.sphere-turquoise {
  width: 20px;
  height: 20px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #1FFFE0;
  position: absolute;
  margin-top: 10rem;


  animation: slide 6s ease-in-out .2s infinite alternate;
}

.circle.sphere-turquoise2 {
  float: right;
   width: 20px;
  height: 20px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #1FFFE0;
  position: absolute;
  margin: 10rem 15rem;
  animation: slide 10s ease-in-out 2s infinite alternate;
}

.circle.sphere-yellow {
  width: 20px;
  height: 20px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #E1FF1F;
  position: absolute;
    margin-top: 12rem;

  animation: slide 3s ease-in-out .9s infinite alternate;
}

.circle.sphere-yellow2 {
   width: 20px;
  height: 20px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #E1FF1F;
  position: absolute;
  margin: 12rem 2rem;
  animation: slide 4s ease-in-out 3s infinite alternate;
}

@keyframes slide {
  0% {
    left: 20px;
    top: 0;
  }
  50% {
    left: 300px;
    top: 200px;
  }
  100% {
    left: 400px;
    top: 30;
  }
}


.circle.sphere-red {
  width: 20px;
  height: 20px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #FF2F1F;
  position: absolute;

  animation: slide 2s ease-in-out .5s infinite alternate;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}

.circle.sphere-blue {
  width: 20px;
  height: 20px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #1FB6FF;
  position: absolute;
  margin-left: 50px;
  left: 588px;
  top: 0;

  animation: slide 4s ease-in-out 1s infinite alternate;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}


.projectlist > a:hover {
  text-decoration: none;
  border-bottom: none;
}

.nav {
  display: block;
  padding: 30px 0px;
  border-bottom: 1px solid #D8D8D8;
}

.kelly-logo{
  padding: 20px 0px;
  display: inline-block;
  margin-top: 10px;
}

ul#nav {
  display: inline-block;
  float: right;
  padding: 20px 0px;
} 

.nav li, .nav a:visited {
  font-family: 'FaktSoftPro Blond', sans-serif;
  color: #1B1B1B;
  text-decoration: none;
  float: right;
  display: block;
 }

a {
  text-decoration: none;
  color: #1FB6FF;
}

a:hover {
  text-decoration: none;
  color: #1FB6FF;
}

a:visited {
  color: #1FB6FF;
  text-decoration: none;
  border-bottom: none;
}

 .nav a:hover,
.nav .current-page a,
.nav .current-project a,
.nav .current-tag a {
  color: #1FB6FF;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
  list-style: none;
}

.nav h2 a:hover {
  text-decoration: none;
  border-bottom: none;
}

.kellylogo {
  float: left;
  width: 20%;
  display: inline-block;
  padding: 20px;
}

button.btn--block  {
  border: 1px solid #868889;
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #006CFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

button.btn--block:hover {
  background-color: #006CFF;
  border: 1px solid #006CFF;
  text-decoration: none;
  color: #FFFFFF;
}

button a:hover {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: none;
}

img {
  width: 100%;
}

header {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.about {
  color: #1b1b1b;
  margin: 0 auto;
  padding: 50px 0;
}

.about a {
  border-bottom: 2px solid;
  text-decoration: none;
  color: #006CFF;
}

.containerheader {
  width: 560px;
  position: relative;
  text-align: center;
}

.container {
  margin: 0px auto;
  overflow: hidden;
  width: 960px;
  max-width: 100%;
}

/* ABOUT PAGE */

img.headshot {
  display: block;
  margin: 0 auto;
  width: 40%;
}

/* FOOTER */

.footer {
  padding: 100px 0px;
  background-color: #273444;
  text-align: center;
  margin: 30px 0px 0px 0px;
  color: #FFFFFF;
  vertical-align: top;
}

.footer__links {
  display: inline-block;
  position: relative;
  margin: 0px 40px;
  vertical-align: top;
  padding-top: 6rem;
}

.footer__links a {
  display: block;
  padding: 10px 0px;
  text-align: center;
  margin: 0px auto;
  color: #FFFFFF;
}


.kelly-logo {
  max-width: 100%;
  width: 80px;
}



/* BLOG CONTENT */

.blog-content {
  text-align: left;
  margin: 0 0 10px;
  padding: 0px 180px;
  line-height: 1.6em;
}

.blog-title {
  font-family: 'FaktSoftPro Blond', sans-serif;
  font-size: 24px;
  color: #006CFF;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
}

.blog--subheader {
  display: block;
}

.blog--category {
  background-color: #EAEAEA;
  color: #FFFFFF;
  padding: 6px 20px;
  width: 100px;
  text-decoration: none;
  margin: 0px auto;
}

.blog--category a, .blog--category a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.blog--description {
  text-align: center;
}

.blog--entry {
  padding-bottom: 2rem;
}

.blog--entry:last-child {
  padding-bottom: 20rem;
}

time {
  font-family: 'FaktSoftPro Blond', sans-serif;
  color: #888888;
  margin: 0px auto;
  text-align: center;
  padding-top: 10px;
  display: block;
  font-weight: 600;
}

.blog--intro {
  font-family: 'FaktSoftPro Blond';
  color: #1226DD;
  line-height: 1.7em;
  font-weight: 600;
  font-size: 22px;
  margin: 20px 0px;
  padding: 20px 180px;
  text-align: center;
}

/* MEDIA QUERIES */

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media (min-width: 320px) and (max-width: 568px) {
  .blog--intro {
    font-size: 1.3em;
    padding: 10px 10px;
  }

  .blog-content {
    padding: 0px 10px;
  }

  p {
    padding: 10px;
  }
}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media (min-width: 375px) and (max-width: 667px) { 
  .blog--intro {
    font-size: 1.3em;
    padding: 10px 10px;
  }
  .blog-content {
    padding: 0px 10px;
  }
   p {
    padding: 10px;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media (min-width: 414px) and (max-device-width: 736px) { 
  .blog--intro {
    font-size: 1.3em;
    padding: 10px 10px;
  }
  .blog-content {
    padding: 0px 10px;
  }
   p {
    padding: 10px;
  }
}

/*-------------iPad----------*/
@media (min-device-width : 768px) and (max-device-width : 1024px)  { 
  .blog--intro {
    font-size: 1.3em;
    padding: 10px 10px;
  }
  .blog-content {
    padding: 0px 10px;
  }
   p {
    padding: 10px;
  }
}

@media (max-width: 480px) { 

   p {
    padding: 10px;
  }

header {
  text-align: center;
}

.headshot {
  background-image: url("../img/KellyDern-mobile.jpg");
}

ul#nal {
  display: block;
  text-align: center;
  padding-top: 10px;
}

.headshot > img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding: 10px 0px;
}

.description { 
  padding: 10px;
  line-height: 1.9em;
}
.container {
  margin: 0px auto;
  overflow: hidden;
  width: 960px;
  max-width: 100%;
}

h1 {
  font-size: 30px;
  margin: 0px auto;
  padding: 10px 0px;
  text-align: center;
}

.kelly-logo {
  max-width: 100%;
  width: 80px;
  text-align: center;
  margin: 0px auto;
  display: block;
  padding: 5px 0px;
}

.kelly-logo, #nav {
  padding: 20px 0px;
}

ul#nav {
  text-align: center;
  float: none;
  display: block;
}


.header-links {
  text-align: center;
  padding-bottom: 20px
}

.blog--intro {
  font-size: 1.3em;
  padding: 10px 10px;
  }
  .blog-content {
    padding: 0px 10px;
  }

}