/* General Demo Style */

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


body {
   font-family: "rooney-sans", sans-serif;
    background: #ffffff;
    font-weight: 300;
    font-size: 15px;
    color: #1b1b1b;
    overflow: scroll;
    overflow-x: hidden;
}

h1 {
  font-family: 'Copernicus Bold', serif;
  font-size: 60px;
	color: #0FDEBD;
  margin: 20px auto;
  text-align: center;
}

h2 {
    font-family: "rooney-sans", sans-serif;
    font-size: 24px;
    color: #0FDEBD;
    line-height: 1.5em;
    float: left;
    font-weight: 700;
}

h3 {
   font-family: 'Copernicus Bold', serif;
    font-size: 24px;
    color: #0FDEBD;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px 40px;
    text-decoration: none;
}

h4 {
  font-family: "rooney-sans", sans-serif;
  color: #888888;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 60px;
}

h5 {
  color: #FFFFFF;
  font-family: "rooney-sans", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

h4.project-header {
  font-size: 24px;
  text-transform: uppercase;
  color: #0FDEBD;
  padding: 50px 0px 20px 0px;
}

p:first-of-type {
  padding-top: 40px;
}

h3.pagetitle {
  font-size: 32px;
  margin-top: 110px;
  margin-bottom: 0px;
  font-family: 'Copernicus Bold', serif;
  text-transform: none;
  color: #0FDEBD;
  padding: 10px 0px;
}

p {
  font-family: "rooney-sans", sans-serif;
  text-align: center;
  line-height: 1.6em;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0px 120px;
}

h3 a, img {
  text-decoration: none;
}

.nav li, .nav a:visited {
  /*font-family: Roboto, sans-serif; */
  color: #1b1b1b;
  text-decoration: none;
  float: right;
  display: block;
 }

a {
  text-decoration: none;
  color: #0FDEBD;
}

a:hover {
  border-bottom: 2px solid #0FDEBD;
  text-decoration: none;
  color: #0FDEBD;
}

a:visited {
  color: #0FDEBD;
  text-decoration: none;
  border-bottom: none;
}

 .nav a:hover,
.nav .current-page a,
.nav .current-project a,
.nav .current-tag a {
	color: #0FDEBD;
	border-bottom: 2px solid #0FDEBD;  
}

li {
	display: inline;
	padding: 0px 10px 0px 10px;
  list-style: none;
}

.nav h2 a:hover {
  text-decoration: none;
  border-bottom: none;
}

.kellylogo {
  float: left;
  width: 20%;
  display: inline-block;
  padding: 20px;
}

button.btn--block  {
  border: 2px solid #323232;
  background-color: #FFFFFF;
  color: #0FDEBD;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
}

button:hover {
  background-color: #0FDEBD;
  border: 2px solid #0FDEBD;
  text-decoration: none;
}

button a:hover {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: none;
}

img {
  width: 100%;
  padding: 20px 0px;
}

header {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.about {
	color: #1b1b1b;
  margin: 0 auto;
  padding: 50px 0;
}

.about a {
  border-bottom: 2px solid;
  text-decoration: none;
	color: #0FDEBD;
}

.containerheader {
  width: 560px;
  position: relative;
  text-align: center;
}

.container {
	margin: 0px auto;
  overflow: hidden;
  width: 960px;
  max-width: 100%;
}

/* ABOUT PAGE */

img.headshot {
  display: block;
  margin: 0 auto;
  width: 60%;
}

/* FOOTER */

.footer {
  padding: 100px 0px;
  background-color: #0FDEBD;
  text-align: center;
  margin: 30px 0px 0px 0px;
  color: #FFFFFF;
  vertical-align: top;
}

.footer__links {
  display: inline-block;
  position: relative;
  margin: 0px 40px;
  vertical-align: top;
  padding-top: 6rem;
}

.footer__links a {
  display: block;
  padding: 10px 0px;
  text-align: center;
  margin: 0px auto;
  color: #FFFFFF;
}


.kelly-logo {
  max-width: 100%;
  width: 80px;
}

nav {
  float: right;
}

.kelly-logo, nav {
  padding: 20px 0px;
  display: inline-block;
  margin-top: 10px;
}

ul#nav {
  display: inline-block;
  float: right;
  padding-top: 20px;
  margin-top: 20px;
} 

/* BLOG CONTENT */

.blog-content {
  text-align: left;
  margin: 0 0 10px;
  padding: 0px 180px;
  line-height: 1.6em;
}

.blog-title {
  font-family: "rooney-sans", sans-serif;
  font-size: 24px;
  color: #0FDEBD;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
}

.blog--subheader {
  display: block;
}

.blog--category {
  background-color: #EAEAEA;
  color: #FFFFFF;
  padding: 6px 20px;
  width: 100px;
  text-decoration: none;
  margin: 0px auto;
}

.blog--category a, .blog--category a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.blog--description {
  text-align: center;
}

.blog--entry {
  padding-bottom: 5rem;
}

.blog--entry:last-child {
  padding-bottom: 20rem;
}

time {
  font-family: "rooney-sans", sans-serif;
  color: #1226DD;
  margin: 0px auto;
  text-align: center;
  padding-top: 10px;
  display: block;
  font-weight: 600;
}

.blog--intro {
  font-family: 'Copernicus Bold Italic';
  color: #1226DD;
  line-height: 1.7em;
  font-weight: 600;
  font-size: 22px;
  margin: 20px 0px;
  padding: 20px 180px;
  text-align: center;
}

/* MEDIA QUERIES */

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media (min-width: 320px) and (max-width: 568px) {
  .blog--intro {
    font-size: 1.3em;
    padding: 10px 10px;
  }

  .blog-content {
    padding: 0px 10px;
  }

  p {
    padding: 10px;
  }
}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media (min-width: 375px) and (max-width: 667px) { 
  .blog--intro {
    font-size: 1.3em;
    padding: 10px 10px;
  }
  .blog-content {
    padding: 0px 10px;
  }
   p {
    padding: 10px;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media (min-width: 414px) and (max-device-width: 736px) { 
  .blog--intro {
    font-size: 1.3em;
    padding: 10px 10px;
  }
  .blog-content {
    padding: 0px 10px;
  }
   p {
    padding: 10px;
  }
}

/*-------------iPad----------*/
@media (min-device-width : 768px) and (max-device-width : 1024px)  { 
  .blog--intro {
    font-size: 1.3em;
    padding: 10px 10px;
  }
  .blog-content {
    padding: 0px 10px;
  }
   p {
    padding: 10px;
  }
}

@media (max-width: 480px) { 

   p {
    padding: 10px;
  }

header {
  text-align: center;
}

.headshot {
  background-image: url("../img/KellyDern-mobile.jpg");
}

ul#nal {
  display: block;
  text-align: center;
  padding-top: 10px;
}

.headshot > img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding: 10px 0px;
}

.description { 
  padding: 10px;
  line-height: 1.9em;
}
.container {
  margin: 0px auto;
  overflow: hidden;
  width: 960px;
  max-width: 100%;
}

.nav li {
  display: block;
  padding: 0px 3px;
}

h1 {
  font-size: 30px;
  margin: 0px auto;
  padding: 10px 0px;
  text-align: center;
}

.kelly-logo {
  max-width: 100%;
  width: 80px;
  text-align: center;
  margin: 0px auto;
  display: block;
  padding: 5px 0px;
}

.kelly-logo, #nav {
  padding: 20px 0px;
}

ul#nav {
  text-align: center;
  float: none;
  display: block;
}


.header-links {
  text-align: center;
  padding-bottom: 20px
}

.blog--intro {
  font-size: 1.3em;
  padding: 10px 10px;
  }
  .blog-content {
    padding: 0px 10px;
  }

}






