.footer {
  padding: 100px 0px;
  background-color: #0FDEBD;
  text-align: center;
  margin: 30px 0px 0px 0px;
  color: #FFFFFF;
  vertical-align: top;
}

.footer__links {
  display: inline-block;
  position: relative;
  margin: 0px 40px;
  vertical-align: top;
  padding-top: 6rem;
}

.footer__links a {
  display: block;
  padding: 10px 0px;
  @extend %centered; 
  margin: 0px auto;
  color: #FFFFFF;
}
