header {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

ul#nav {
  display: inline-block;
  float: right;
  padding-top: 20px;
  margin-top: 20px;
} 

.kellylogo {
  float: left;
  width: 20%;
  display: inline-block;
  padding: 20px;
}