@font-face {
    font-family: 'Copernicus Bold';
    src: url(../fonts/Copernicus-Bold.eot);
    src: url(../fonts/Copernicus-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Copernicus-Bold.woff) format('woff'), 
    url(../fonts/Copernicus-Bold.svg) format('svg')
}

@font-face {
    font-family: 'Copernicus Bold Italic';
    src: url(../fonts/Copernicus-BoldItalic.eot);
    src: url(../fonts/Copernicus-BoldItalic.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Copernicus-BoldItalic.woff) format('woff'), 
    url(../fonts/Copernicus-BoldItalic.svg) format('svg')
}

