// Descriptiive color variables //

$green:	#0FDEBD;
$blue: #1226DD;
$grey: #888888;
$white: #FFFFFF;
$light-grey: #EAEAEA;

// Function color variables //

$color-prim: $green;
$color-sec: $grey;
$color-body: $white;
$color-text-blue: $blue;
$color-text-grey: $light-grey;

///Font stacks //

$stack-sans-serif: "rooney-sans", sans-serif;
$stack-serif: 'Copernicus Bold', serif;
$stack-serif-italic: 'Copernicus Bold Italic', serif;

// Border radius


// Asset paths

$path-img	: '../img';